<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827852001909-mraocaqslbbpv0jke2s0mbce7f4bkfvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827852001909-mraocaqslbbpv0jke2s0mbce7f4bkfvt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>827852001909-uuqro1ktpob653grsgi8qahvdtloijsd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjanJp7u9dwyRnHqXiMcxWsqwkPUPHgio</string>
	<key>GCM_SENDER_ID</key>
	<string>827852001909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dzungvu.anvii</string>
	<key>PROJECT_ID</key>
	<string>anvii-f8766</string>
	<key>STORAGE_BUCKET</key>
	<string>anvii-f8766.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827852001909:ios:2a4725efb6c322487c9e3c</string>
	<key>DATABASE_URL</key>
	<string>https://anvii-f8766.firebaseio.com</string>
</dict>
</plist>